<%- include ('../../partials/header.ejs') %>

<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de Categoria</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/categories/update">
                    <input type="text" class="form-control" name="title" placeholder="Defina o título da categoria" value="<%= category.title %>">
                    <br>
                    <button class="btn btn-dark">Editar</button>
                    <input type="hidden" name="id" value="<%= category.id %>">
                </form>
            </div>
        </div>
    </div>
</body>


<%- include ('../../partials/footer.ejs') %>