<%- include ('../../partials/header.ejs') %>


<body>

    <%- include ('../../partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h2>Usuários</h2>
        <a class="btn btn-dark" href="/admin/users/create">Criar novo usuário</a>
        <hr>
        <table class="table table-bordered">
            <thead> <!--Cabeça da tabela-->
                <tr> <!--Linha da tabela-->
                    <th>Id</th> <!--Coluna da tabela-->
                    <th>Email</th>
                </tr>
            </thead>
            <tbody> <!--Corpo da tabela-->
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.email %></td>
                    </tr>
               <% }) %>
            </tbody>    
        </table>
    </div>
    

</body>

<%- include ('../../partials/footer.ejs') %>